**/*.iml
**/.ivy
**/.classpath
**/.lfrbuild-portal
**/.project
**/.sass-cache
**/.settings
**/activation-key*.xml
**/bin
**/build
**/build_gradle
**/dist
**/node_modules
**/node_modules_cache
**/test-coverage
**/tmp
**/.web_bundle_build
.gradle
.gradle-local.properties
.idea
/bundles
/gradle-*.properties
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
test-results
/language/Language_*.properties
/modules/healthcheck/CE-*
/modules/healthcheck/DXP-*
/modules/admin-theme-configurable-bg
configs/local/osgi/configs/*Frontend*
