/com.liferay.frontend.theme.classic.style.guide.sample.web.internal.portlet.FrontendThemeClassicStyleGuideSamplePortlet.config
/com.liferay.frontend.theme.dialect.style.guide.sample.web.internal.portlet.FrontendThemeDialectStyleGuideSamplePortlet.config
