#portlet_com_liferay_portal_health_web_portlet_HealthcheckWebPortlet tr ul {
    visibility: hidden;
    display:none;
}

#portlet_com_liferay_portal_health_web_portlet_HealthcheckWebPortlet tr:hover ul {
    visibility: visible;
    display: block;
}
